<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-header card-header-danger center-horizontally">
                        <h3 class="card-title">Login</h3>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">
                            <mat-form-field>
                                <input matInput placeholder="Usuario" type="text" [(ngModel)]="loginUserData.username" name="user">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Senha" type="password" [(ngModel)]="loginUserData.password" name="password">
                            </mat-form-field>
                            <mat-checkbox>Lembrar-me</mat-checkbox>
                            <br>
                            <div class="pull-right">
                                <button mat-raised-button class="btn btn-basic">Registrar</button>
                                <button mat-raised-button type="submit" class="btn btn-danger">login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>